.bottom-bar {
    width: 100%;     /* 전체 너비 */
    background-color: lightgray; 
    /* 추가적인 스타일링 */
    margin-top: auto;
    z-index: 100;
}
.btn-house {
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: center; /* 가로축에서 중앙 정렬 */
    align-items: center; /* 세로축에서 중앙 정렬 */
}
.back {
    background-image: url(./back.png);
    height: 50px;
    width: 50px;
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-size: contain;
    background-color: lightgray; 
}

.stopGo {
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-color: lightgray;  
}

.stopGoImage {
    
    background-size: contain;
    height: 50px;
    width: 50px;
}
.front {
    background-image: url(./front.png);
    background-color: lightgray; 
    height: 50px;
    width: 49px;
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-size: contain;
}