/* src/components/Home/Home.css */

.home {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  height: 100%; /* 전체 뷰포트 높이 */
}
  
.content {
  display: flex;
  flex-direction: column; /* 수직 방향으로 flex 설정 */
  align-items: center;
  height: 55%;
}

.input {
  width: 90%;
  height: 12em;
  margin: 5px;
  overflow: auto; /* 텍스트가 넘칠 경우 스크롤 허용 */
  /* border: none; */
  resize: none;
}

.custom-upload-btn {
  display: flex; /* 이미지와 텍스트를 수평으로 정렬 */
  align-self: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.file-upload-container {
  display: flex;
  align-items: center;
  align-self: flex-end; /* 오른쪽 정렬 */
  margin-right: 5%; /* 오른쪽 여백 지정 */
}


.file-upload-container p {
  margin: 0;
  margin-right: 10px;
}

.upload-icon {
  width: 30px;
  height: 30px;
}

.buttons_content {
  flex-direction: column; /* 버튼들을 수직으로 배치 */
  margin-top: auto; /* 최하단으로 이동 */
  height: 45%; /* 40%로 설정 */
}

.upper-btns {
  background-color: whitesmoke;
  height: 30%;
  display: flex; /* Flex 컨테이너로 설정 */
  align-items: center; /* 수직 가운데 정렬 */
}

.play-text {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold; /* Example: Make "재생" bold */
}

.speed-text {
  color:red;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

#slider {
  margin-left: auto;
  margin-right: 30px;
}

.middle-btns {
  background-color: orange; /* 빨간색 배경 */
  height: 35%;
}

.lower-btns {
  background-color: red; /* 빨간색 배경 */
  height: 35%;
}

.middle-btns button.word-btn{
  height: 100%;
  width: 100%;
  background-color: #378805;
  border: none; /* 테두리 없애기 */
  outline: none;
  color: white; /* 글자 색을 빨간색으로 설정 */
  font-size: 20px;
}

.lower-btns button.sentence-btn {
  height: 100%;
  width: 100%;
  background-color: #26580F;
  border: none; /* 테두리 없애기 */
  outline: none;
  color: white; /* 글자 색을 빨간색으로 설정 */
  font-size: 20px;
}

.middle-btns button.word-btn span,
.lower-btns button.sentence-btn span {
  color: red; /* 글자 색을 빨간색으로 설정 */
}