.book-mark {
    width: 30px;
    height: 30px;
}
.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 5px;
    margin-top: 10px;
}

.progress-bar {
    height: 100%;
    background-color: blue;
}

.word-show{
    max-width: 400px;
    margin: 0 auto;
    font-size:1em;
}
.center-container_word {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top:-130px;
    color: white;
    font-weight: bold;
}