/* src/App.css */
html, body {
  margin: 0;
  overflow: hidden; /* 스크롤 숨김 */
}

body {
  display: flex;
  place-items: center;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 40px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}

.app-container {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 자식 요소들을 세로로 나열 */
  align-items: center; /* 수직 가운데 정렬 */
  margin: 0 auto;
  width: 400px;
  height: 100vh;
}

.app-container header nav ul li a {
  text-decoration: none; /* Remove default underline */
  font-size: 24px;
}

.app-container header nav ul li a .gom {
  color: white; /* Set the color for 'GOM' */
  position: relative; /* 상대적 위치 지정 */
  top: -12px; /* 원하는 만큼 위로 이동 */
  font-weight: bold;
}

.app-container header nav ul li a .slayer {
  color: #ED7D31; /* Set the color for 'SLAYER' */
  position: relative; /* 상대적 위치 지정 */
  top: -12px; /* 원하는 만큼 위로 이동 */
  font-weight: bold;
}


header {
  z-index: 1000;
  background-color: #000000;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%; /* app-container에 꽉 차게 설정 */
  max-width: 400px;
  margin: 0 auto; /* 화면 중앙 정렬 */
  min-height: 60px;
}

main {
  width: 100%;
  height: calc(100% - 60px); /* Subtract the header height */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top : 10px;
  margin-bottom : 0px;
  align-items: center;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* 모바일 화면 폭에 맞춤 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  height: 100vh; /* 전체 화면 높이 */
}

