/* src/App.css */
html, body {
  margin: 0;
  overflow: hidden; /* 스크롤 숨김 */
}

body {
  display: flex;
  place-items: center;
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.app-container {
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 자식 요소들을 세로로 나열 */
  align-items: center; /* 수직 가운데 정렬 */
  margin: 0 auto;
  width: 400px;
  height: 100vh;
}

header {
  background-color: whitesmoke;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%; /* app-container에 꽉 차게 설정 */
  max-width: 400px;
  margin: 0 auto; /* 화면 중앙 정렬 */
  min-height: 80px;
}

main {
  width: 100%;
  height: calc(100% - 80px); /* Subtract the header height */
}

nav {
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* 모바일 화면 폭에 맞춤 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  height: 100vh; /* 전체 화면 높이 */
}

