.bottom-bar {
    position: fixed; /* 고정 위치 */
    bottom: 0;       /* 화면 하단 */
    left: 0;         /* 왼쪽 끝 */
    right: 0;        /* 오른쪽 끝 */
    width: 100%;     /* 전체 너비 */
    background-color: lightgray; 
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과, 필요에 따라 조정 */
    /* 추가적인 스타일링 */
}

.back {
    background-image: url(./back.png);
    height: 50px;
    width: 50px;
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-size: contain;
    background-color: lightgray; 
}

.stopGo {
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-color: lightgray;  
}

.stopGoImage {
    
    background-size: contain;
    height: 50px;
    width: 50px;
}
.front {
    background-image: url(./front.png);
    background-color: lightgray; 
    height: 50px;
    width: 50px;
    border: none; /* 테두리 제거 */
    outline: none; /* 클릭 시 나타나는 윤곽선 제거 */
    background-size: contain;
}